<!-- Team Section -->
    <section id="titan" class="reset-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-center">
                    <img src="{{ site.baseurl }}/img/logos/titan-logo.png" class="titan-logo">
                </div>
                <div class="col-lg-6 text-left">
                    <p class="row section-subheading text-muted">
                        {% translate titan.content %}
                    </p>
                </div>
                <div class="col-lg-3 text-center">
                    <a href="https://play.google.com/store/apps/details?id=org.hyn.titan"><img src="{{ site.baseurl }}/img/google-play.png" class="download-img"></a>
                    <!--<a href="#"><img src="{{ site.baseurl }}/img/app-store.png" class="download-img"></a>-->
                    <img src="{{ site.baseurl }}/img/download-qr.png" class="download-img">
                </div>
            </div>
        </div>
    </section>